# deps
node_modules
.pnpm-store

# next
.next
out
.vercel
next-env.d.ts

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
vercel-*-log.txt
"e error"

# editor
.DS_Store
.idea
.vscode

# misc
stickers/
